// _variables.scss
// ===============

@import "https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700";

// Font-Family

$montserrat : 'Montserrat', sans-serif;

//Colors

// preset colors

$black 			: 		#0c0c0c;
$white 			: 		#ffffff;

// stinson colors

$sdblue 		: 		#19191a;
$sdorange 		: 		#1462a8;
$sdgrey 		: 		#5fc1ef;

// candybanners colors

$cbteal 		: 		#00b2a5;
$cbpink			: 		#ff4cd5;
$cbyellow		: 		#ffff00;
$cbpurple		: 		#8818e2;

// matchmakemovein colors

$mmmgrey 		: 		#4d4d4d;
$mmmlightgrey 	: 		#999999;
$mmmsalmon 		: 		#f9e9dc;
$mmmgold 	 	: 		#cba135;

// red automotive enterprises colors

$raered 		: 		#A60A27;
$raepurple		: 		#241E26;
$raegrey 		: 		#A4A4A6;
$raeblue		: 		#4D5D73;
$raelight 		: 		#F2F2F2;



