// _variables.scss
// ===============

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Playfair+Display:700";


// Queries
//-------------------------------------------
$small: 600px;
$medium: 900px;

// Font-Family
//-------------------------------------------

$montserrat : 'Montserrat', sans-serif;
$playfair	: 'Playfair Display', serif;

//Colors
//-------------------------------------------

// preset colors

$black 			: 		#0c0c0c;
$white 			: 		#ffffff;

// stinson colors

$sdgrey 		: 		#19191a;
$sdorange 		: 		#f05b24;
$sdblue 		: 		#5fc1ef;

// candybanners colors

$cbteal 		: 		#00b2a5;
$cbpink			: 		#ff4cd5;
$cbyellow		: 		#ffff00;
$cbpurple		: 		#8818e2;

// matchmakemovein colors

$mmmblack 	 	: 		#1d1d1d;
$mmmgrey 		: 		#4d4d4d;
$mmmlightgrey 	: 		#999999;
$mmmsalmon 		: 		#f9e9dc;
$mmmgold 	 	: 		#cba135;

// red automotive enterprises colors

$raered 		: 		#A60A27;
$raepurple		: 		#241E26;
$raegrey 		: 		#A4A4A6;
$raeblue		: 		#4D5D73;
$raelight 		: 		#F2F2F2;

// sinclair pharma colors

$sinblue 		: 		#25cbd3;
$sinroyal		: 		#1462a8;
$sinyellow		: 		#feea00;
$sinpink 		: 		#f8b1bc;

$zenteal 		: 		#239aaf;
$zengrey 		: 		#eef1ec;
$zengreen 		: 		#0a2328;

$ppblue 		: 		#009cde;
$pppink 		: 		#de0063;
$pproyal		: 		#003188;




